.img-block {
  position: absolute;
  box-sizing: border-box;

  padding: .05rem;

  border: .05rem solid #cee8da;
  border-radius: .05rem;
}

.img-sm {
  width: 1.6rem;
}

.img-md {
  width: 2rem;
}

.img-left {
  transform: rotate(30deg);
}

.img-right {
  transform: rotate(-20deg);
}

.text-block {
  position: absolute;
  box-sizing: border-box;
  z-index: 1;

  text-align: center;
}

.text-sm {
  font-size: .3rem;
  line-height: .3rem;
}

.text-md {
  font-size: .4rem;
  line-height: .4rem;
}

.text-short {
  width: 50%;
}

.text-long {
  width: 80%;
}

.text-left {
  transform: rotate(-20deg);
}

.text-right {
  transform: rotate(10deg);
}

.last-page {
  display: block;
  position: absolute;

  top: 0;
  padding-top: .15rem;

  width: 100%;
  height: auto;

  span {
    display: block;

    width: .1rem;
    height: .1rem;
    margin: 0 auto;

    transform: rotate(45deg);

    border-top: .05rem solid #fff;
    border-left: .05rem solid #fff;
  }
}

.next-page {
  display: block;
  position: absolute;

  bottom: 0;
  padding-bottom: .15rem;

  width: 100%;
  height: auto;

  span {
    display: block;

    width: .1rem;
    height: .1rem;
    margin: 0 auto;

    transform: rotate(45deg);

    border-right: .05rem solid #fff;
    border-bottom: .05rem solid #fff;
  }
}